body {
    margin:0;
    background-color: #DCE1E3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(3 1fr);  
}

h1 {
    color: #33140d;
}
#navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: beige;
    border-right: 4px solid black;
    
}
#navbar h1 {
    text-align: center;
}


.color-boxes-container {
    
    height: 100%;
    display: grid;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-gap: 1em;
}

.box {
    height: 33vh;
}
.box:hover {
    transform: scale(1.2);
}

.box p {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
* {
    box-sizing: border-box;
  }
  :root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
  }
button {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 150px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
  }
  button:hover {
    background-image: linear-gradient(
      145deg,
      transparent 10%,
      var(--dark) 10% 20%,
      transparent 20% 30%,
      var(--dark) 30% 40%,
      transparent 40% 50%,
      var(--dark) 50% 60%,
      transparent 60% 70%,
      var(--dark) 70% 80%,
      transparent 80% 90%,
      var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
  }
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }