body {
    background-color: bisque;
}

.color-boxes-container {
    outline: red solid 10px;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 50% 50%;
}

.box {
    margin: 20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
    border-radius: 12px;
    height: 30vh;
    border: 1px solid;
}

.box p {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
